$color-text: rgb(255, 255, 255);
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


// Хедер страницы

.top {
    background-image: url(./image/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 271px;
    height: 1024px;
    &__tittle {
        display: flex;
        align-items: center;

        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        max-width: 788px;
        max-height: 125px;
        color: $color-text;
    }
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: $color-text;
        margin-top: 32px;
        width: 481px;
        height: 64px;
        &-weight {
            font-weight: 600;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 44px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        width: 234px;
        height: 49px;
        background: #9C0332;
        border: none;
        border-radius: 30px;
        color: $color-text;
        transition: all  0.3s;
        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 8px rgb(0, 119, 238);
        }
        &-link {
            text-decoration: none;
            color: $color-text;
    }
    }

}


// Блок с карточками

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s;
    gap: 32px;

    padding-top: 128px;
    padding-bottom: 128px;
    &__for {
        display: flex;
        gap: 32px;
        &-link {
            display: flex;
            align-items: center;
            text-decoration-line: none;

            padding-left: 32px;
            padding-bottom: 32px;
            padding-top: 236px;
            color: $color-text;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
    }
    &__item {
        background: linear-gradient(180deg, rgba(39, 1, 15, 0)0%, #001944 100%);
        border-radius: 16px;
        width: 378px;
        height: 300px;
        transition: all 0.5s;
        &-1 {
            background-image: url(./image/game1.jpg);
        }
        &-2 {
            background-image: url(./image/game2.jpg);
        }
        &-3 {
            background-image: url(./image/game3.jpg);
        }
        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 15px rgb(246, 11, 11);
        }
    }
}

@import 'mobile.scss';