* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(./image/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 271px;
  height: 1024px;
}
.top__tittle {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  max-width: 788px;
  max-height: 125px;
  color: rgb(255, 255, 255);
}
.top__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  margin-top: 32px;
  width: 481px;
  height: 64px;
}
.top__text-weight {
  font-weight: 600;
}
.top__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 234px;
  height: 49px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
.top__btn:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgb(0, 119, 238);
}
.top__btn-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.card__for {
  display: flex;
  gap: 32px;
}
.card__for-link {
  display: flex;
  align-items: center;
  text-decoration-line: none;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-top: 236px;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.card__item {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
  border-radius: 16px;
  width: 378px;
  height: 300px;
  transition: all 0.5s;
}
.card__item-1 {
  background-image: url(./image/game1.jpg);
}
.card__item-2 {
  background-image: url(./image/game2.jpg);
}
.card__item-3 {
  background-image: url(./image/game3.jpg);
}
.card__item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgb(246, 11, 11);
}

.season {
  margin-top: 51px;
  height: 654px;
}
.season__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.season__place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 584px;
  height: 236px;
}
.season__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.season__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.season__link {
  background: #9C0332;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
.season__link:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgb(0, 119, 238);
}
.season__img {
  height: 333px;
}

.remember {
  margin-top: 51px;
  height: 654px;
}
.remember__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember__place {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 584px;
  height: 236px;
}
.remember__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.remember__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.remember__link {
  background: #9C0332;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
.remember__link:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgb(0, 119, 238);
}
.remember__img {
  height: 333px;
}

@media screen and (max-width: 980px) and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding-top: 239px;
    padding-bottom: 239px;
    height: 735px;
  }
  .top__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__tittle {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .top__text {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-top: 32px;
    width: 343px;
    height: 66px;
  }
  .card__for {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .card__for-link {
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-top: 236px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .card__item {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
    border-radius: 16px;
    width: 343px;
    height: 300px;
    transition: all 0.5s;
  }
  .card__item-1 {
    background-image: url(./image/game1.jpg);
  }
  .card__item-2 {
    background-image: url(./image/game2.jpg);
  }
  .card__item-3 {
    background-image: url(./image/game3.jpg);
  }
  .season {
    background: #000915;
    margin-top: 234px;
    height: 800px;
  }
  .season__box {
    display: flex;
    flex-direction: column;
  }
  .season__place {
    align-items: center;
    width: 343px;
    height: 218px;
    margin-bottom: 64px;
  }
  .season__title {
    font-size: 32px;
    line-height: 39px;
  }
  .season__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .season__img {
    width: 344px;
    height: 236px;
  }
  .remember {
    background: #000915;
    margin-top: 234px;
    height: 800px;
  }
  .remember__box {
    display: flex;
    flex-direction: column-reverse;
  }
  .remember__place {
    align-items: center;
    width: 343px;
    height: 218px;
    margin-bottom: 64px;
  }
  .remember__title {
    font-size: 32px;
    line-height: 39px;
  }
  .remember__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .remember__img {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */